body{
  background-color: rgb(11, 19, 7);
}
.containerL {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  bottom: 40%;
}

.lamp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.lamp-image {
  width: 280px; /* Ajusta el tamaño de la lámpara */
  height: auto;
  display: block;
  transition: opacity 0.2s ease-in-out; /* Transición suave para el parpadeo */
}

.lamp-container.off .lamp-image {
  opacity: 0.4; /* Ligeramente oscurecido cuando "apagado" */
}


.light-beam {
  position: absolute;
  top: 96%; /* Ajusta para que salga de la lámpara */
  left: 50%;
  transform: translateX(-50%);
  width: 220px; /* Ancho del haz de luz */
  height: 190px; /* Largo del haz de luz */
  background: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 70%);
  filter: blur(15px);
  opacity: 1;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.5s ease-in-out; /* Transición suave para el parpadeo */
}

.lamp-container.off .light-beam {
  opacity: 0; /* Desaparece cuando "apagado" */
}

.illuminated-text {
  font-size: 4em;
  color: #ddd;
  opacity: 0.3;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin: 0;
  transition: color 0.3s ease-in-out, text-shadow 0.2s ease-in-out; /* Transición suave para el parpadeo */
}

.illuminated-text.lit {
  color: #fff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  opacity: 1;
  
}





#map { 
  position: fixed;
  left: 0%;
  bottom: 10%;
  height: 50vh; 
  width: 100%;
  z-index: 2;
}
@media (max-width:800px){
  #map{
    bottom: 3%;
  }
}
@media (min-height:350px) {
  #map{
    height: 45vh;
  }
}



#popup{
  position: fixed;
  bottom: 50px;
  width: 250px;
  height: 450px;
  z-index: 3;
  border: none;
  border-radius: 25px;
  padding: 5px;
  overflow: hidden;

}
#popup::backdrop{
  background-color: rgba(26, 32, 25, 0.849);
}


#botonaceptar {
  position: relative;
  top: 400px;
  left: 19%;
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #102b00;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  z-index: 2;
}

#aviso{
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 39px;
  left: 70px;
  bottom: 360px;
  color: #04580b;
}
#texto{
  position: absolute;
  top: 90px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #191b19;

}

#murcielago{
  position: absolute;
  height: 199px;

  transform: rotate(25deg);
  top: 220px;
  left: 0px;
  z-index: 0;
}

#botonaceptar:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}




/*----------Pagina 1*/
#contenedor{
  display: flex;
  width: 100vw;
  z-index: 2;
}
#derretido2{
  width: 100%;
}

#visual{
  width: 116%;
  height: 195%;
}
#pagina1{
  margin: 0;
  background: linear-gradient(45deg, #424c3c 10%,transparent 10%,transparent 90%,#424c3c 90%),linear-gradient(135deg, transparent 40%, #424c3c80 40%, #424c3c80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #424c3c 40%, #424c3c 60%, transparent 0);
  background-size: 5em 5em;
  background-color: #131313;
  opacity: 1
}

#contenedord{
  position: fixed;
  top: 50%;
  right: 66px;
  transform: translateY(-50%);
  z-index: 2;
  /* Estilos adicionales */
}
@media (max-width: 474px) {
  #contenedord {
    right: 30px; /* Ajusta la distancia en pantallas pequeñas */
    top: 53%;
  }
}

#contenedori {
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);z-index: 2;
  /* Estilos adicionales */
}

@media (max-width: 474px) {
  #contenedori {
    left: 0px; /* Ajustado para pantallas pequeñas */
  }
}
#visuali{
  transform: rotate(180deg);
  width: 116%;
  height: 195%;
  z-index: 2;
}

#video{
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: auto;
  border-radius: 10px;
}
@media screen and (orientation: landscape){
  #video{
    object-fit:cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 2;

  }
  
}












#bandera{
  display: flex;
  position: relative;
  left: 180px;
  top: 19px;
}

/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  position: relative;
  left: 260px;
  top: -10px;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(37, 37, 37, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(0, 0, 0);
}

.button:hover {
  background-color: rgb(160, 160, 159);
  transition-duration: .5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

#banner{
  background-color: rgba(34, 65, 28, 0.349);
  border: 1px solid rgba(0, 0, 0, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: absolute;
  width: 100vw;
  height: 17vw;
  top: 0px;
}





/*portadas*/
body{
  overflow-x: hidden;
}

#portadasdialog{
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0px;
  background-color: #072011e1;
  color: #6d75792a;
  z-index: 10;
  overflow: hidden;


}

#mapaPortada{
  position:absolute;
  left: 65%;
  top: 110px;
  width: 28vw;
  height: 7vw;

}

#mapaPortada {
  color: #ffffff;
  padding: 0em 0em;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: rgba(165, 218, 154, 0.178);
  border: 1px solid rgba(71, 95, 64, 0.973);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  text-align: center;
}

#mapaPortada:active {
  color: #333333;
  box-shadow: inset 4px 4px 12px #94c0a1, inset -4px -4px 12px #04440df5;
}




#TituloPortadas{
  position: absolute;
  width: 300px;
  top: 40px;
  z-index: 200;
  color: #000000;
}




#portadas{
  display: grid;
  grid-auto-flow:column;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  gap: 200px; /* Espacio entre las imágenes */
  padding-left: 90px; /* Espacio inicial opcional */
  padding-right: 90px; /* Espacio final opcional */
  padding-top: 160px;
  margin-left: -35px;
  z-index: 6;
}
#portadas::-webkit-scrollbar{
  display: none;
}
@media (max-height: 800px) {
  #portadas {
    padding-top: 130px;
  }
}





/* From Uiverse.io by Samucraft346 */ 
.card {
  width: 70vw;
  height: 80%;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-x:hidden;
  overflow-y: hidden;
  scroll-snap-type:x mandatory;
  scroll-snap-align: center;


}

.card1 {
  width: 280px;
  height: 100%;
  background-image:url(https://res.cloudinary.com/dcwi0nryw/image/upload/v1742979963/Portadallorona_xmrh0p.png);
  background-size: 100%;
  background-repeat:no-repeat;
  z-index: 20;
  
}
.card2 {
  width: 280px;
  height: 444px;
  background-image:url(https://res.cloudinary.com/dcwi0nryw/image/upload/v1742988396/cooming_vkkpck.webp) ;
  background-size:contain;
  background-repeat: round;
  transition: all 0.2s;
  border-radius: 20px;
  z-index: 200;
}
.card3 {
  width: 280px;
  height: 444px;
  background-image:url(https://res.cloudinary.com/dcwi0nryw/image/upload/v1742988396/cooming_vkkpck.webp);
  background-size:contain;
  background-repeat: round;
  transition: all 0.2s;
  border-radius: 20px;
  z-index: 200;
}
.card4 {
  width: 280px;
  height: 444px;
  background-image:url(https://res.cloudinary.com/dcwi0nryw/image/upload/v1742988396/cooming_vkkpck.webp);
  background-size:contain;
  background-repeat: round;
  transition: all 0.2s;
  border-radius: 20px;
  z-index: 200;
}

.buttonportadasd {
  --font-color: #323232;
  --bg-color: #fff;
  --main-color: #6c8f71;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 19px;
  font-weight: 600;
  color: var(--font-color);



}
.buttonportadasi {
  --font-color: #323232;
  --bg-color: #fff;
  --main-color: #6c8f71;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: -4px 4px var(--main-color);
  font-size: 19px;
  font-weight: 600;
  color: var(--font-color);

  text-align:center;


}




.buttonportadasd:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}
.buttonportadasi:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

#botonesportadas{
  position: relative;
  left: 5%;
  z-index: 200;
  top: 80%;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}
@media (max-width: 360px) {
  #botonesportadas {
    gap: 32px;
    left: 1%;
  }
}

@media (max-height: 844px) {
  #botonesportadas {
    top: 86%;
  }
}
@media (max-height: 812px) {
  #botonesportadas {
    top: 89%;
  }
}
@media (min-height: 1000px) {
  #botonesportadas {
    top: 57%;
  }
}
@media (max-height: 900px) {
  #botonesportadas {
    top: 69%;
  }
}
@media (max-height: 800px) {
  #botonesportadas {
    top: 89%;
  }
}

















/* From Uiverse.io by joe-watson-sbf */ 
.container {
    position: absolute;
    font-family: sans-serif;
    animation: blink-color-peak 2.5s infinite ease-in-out;
    height: 40px;
    width:0px;
    z-index: 3;
    /* min-height: 0vh; Elimina esta línea, no es necesaria para centrar */
    top: 1%; /* Mueve el borde superior del contenedor al centro vertical */
    left: -1%; /* Mueve el borde izquierdo del contenedor al centro horizontal *//* Desplaza el contenedor hacia atrás la mitad de su ancho y alto */
  }

.container::before,
.container::after {
  content: "";
  background-color: #40614a85;
  position: absolute;
  left: 10px;

}

.container::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;

}

.container::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 5%;

}

.container .box {
  width: 100vw;
  height: 4.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  z-index: 3;


}

.container .box .title {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
}


.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}


.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 50px 40px #81d1883f;
  border: 1px solid rgba(113, 165, 129, 0.454);
}
@keyframes blink-color-peak {
  0% {
    color: #5eb45bc0;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    color: rgba(255, 255, 255, 0.767); /* Cambia a amarillo en el punto máximo de la iluminación */
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
  }
  100% {
    color: #11111123;
    text-shadow: 0 0 5px rgba(51, 83, 51, 0.5);
  }
}



#flec{
  position: fixed;
  left: 300px;
  z-index: 6;
}












/* From Uiverse.io by elijahgummer */ 
.btn {
  font: inherit;
  background-color: #fffffffd;
  border: 0;
  color: #000000;
  font-size: 1.15rem;
  padding: 0.475em 1em;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.23s ease;
  cursor: pointer;
  font-weight: bold;
  margin: -1px;
  position: relative;
  left: 15%;
  
}




.middle {
  border-radius: 0px;
}
.right {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.left {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.btn:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
  letter-spacing: 0.1em;
  color: skyblue;
}
.btn:focus {
  color: rgb(118, 216, 118);
}



















/* From Uiverse.io by FWDJc */ 
.eye-lid {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 9px 0 2px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  z-index: 1;
}

.eye {
  background-color: #ffbc03;
  border-radius: 50%;
  transform: translate3d(0, 0, 0) rotate(90deg);
  width: 120px;
  height: 120px;
  animation: eye 5s infinite;
  z-index: 30;
}

@keyframes eye {
  12%,
  25% {
    width: 100px;
    height: 110px;
  }

  37%, 
  50% {
    width: 60px;
    height: 130px;
  }

  63%, 
  75% {
    width: 100px;
    height: 103px;
  }

  87% {
    width: 100px;
    height: 100px;
  }
}

.cornea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: eye-color 5s infinite;
  z-index: 30;
}

@keyframes eye-color {
  63%, 75% {
    background-color: rgb(8, 20, 96);
  }
}

.white-pupil {
  position: absolute;
  top: 9%;
  left: 10%;
  border-radius: 50%;
  background-color: #ffbc03;
  width: 20px;
  height: 20px;
  z-index: 30;
}

#ojos{
  position: absolute;
  bottom: 55vh;
  left: 7%;
  display: grid;
  grid-auto-flow:column;
  display: none;
  gap: 75px;
}

@media (max-width: 435px) {
  #ojos {
    gap: 30px;
  }
}
@media (max-width: 360px) {
  #ojos {
    gap: 20px;
  }
}
#prox{
  position: absolute;
  top: 30vh;
  left: 3vw;
  color: #ffffff;
  font-family: "Creepster", system-ui;
  font-weight: 40;
  font-style: normal;
  font-size: 60px;
}
@media (max-width: 435px) {
  #prox {
    font-size: 55px;
  }
}
@media (max-width: 360px) {
  #prox {
    font-size: 50px;
  }
}



